#pic{
    background-color: transparent;
    max-height: 100vh;
}

body{
    background-color: rgb(82, 82, 82);;
}

#pix8-title{
    n-webkit-user-select: none;
    n-webkit-app-region: drag;
}

#pic-tag{
    /* cursor: text; */
}