#mainCarousel > .carousel-tag{
    left: 16px;
}

#pix8list-toggle, #pix8list-infinite, #pix8list-mute, #pix8-openLinks{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 20px;
    width: 21px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    z-index: 11;
}

#pix8list-infinite{
    left: 0;
}

#pix8list-mute{
    left: 40px;
    display: none;
}

#pix8-openLinks{
    left: 40px;
    display: none;
}

#pix8-title{
    height: 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #cccccc;
    margin-left: 43px;
    padding: 2px;
    border: 0;
    width: calc(100% - 43px);
}

#pix8list{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

#pix8list-filters{
    margin-left: 60px;
    color: white;
}

#pix8list-filters > .catalog-filter{
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
}

#pix8list-filters > .catalog-filter.active{
    text-decoration: underline;
    text-transform: uppercase;
}

#pix8list-items{
    height: calc(100% - 24px);
    overflow-y: auto;
    overflow-x: hidden;
}

#pix8list-items > div{
    padding-left: 2px;
    cursor: pointer;
    margin: 0 2px;
    color: white;
    white-space: nowrap;
}

#pix8list-items > div > a{
  color: white;
  white-space: nowrap;
}
