#pic .a{
    display: block;
}

#pic .na{
    display: block;
}

#pix8-auth, #pix8-acc{
    position: absolute;
    top: 0;
    right: 30px;
    background: rgba(54, 54, 54, 0.8);
    color: white;
    padding: 1px 4px;
    font-size: 14px;
}

#pix8-auth{
    cursor: pointer;
}

#pix8-acc{

}


#pix8-avatar{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    background-size: cover;
    border-radius: 20px;
}

#pix8-fullName{
    display: inline-block;
    vertical-align: middle;
    /* cursor: pointer; */
}

#pix8-logout{
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#pix8-authFrame{
    position: fixed;
    top: 20px;
    right: 0;
    border: 2px solid black;
    width: 160px;
    height: 65px;
    border-bottom-left-radius: 6px;
    z-index: 400;
}