#pix8-header{
	width: 100%;
	background-color: rgba(51, 51, 51, 0.9);
	opacity: 0.9;
	height: 30px;
}

#pic8-title{
	display: inline-block;
	width: calc(100% - 206px);
	height: 100%;
	/* -webkit-app-region: drag; */
}


#pix8-header{
	width: 100%;
	background-color: rgba(51, 51, 51, 0.9);
	opacity: 0.9;
	height: 30px;
}

#pic8-title{
	display: inline-block;
	width: calc(100% - 206px);
	height: 100%;
	/* -webkit-app-region: drag; */
}


#pic{
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;
	z-index: 170;
	width: 100%;
	/* height: 100px; */
	/* height: calc(70% - 50px); */
	min-height: 30px;
	/* background-color: rgb(82, 82, 82); */
	border-bottom: 1px solid black;
	-webkit-user-select: none;
	none;
}

#pic-hash{

}

#shotmodal{
	display: none;
	position: fixed;
	z-index: 19999999989;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: crosshair;
}

#shot{
	position: absolute;
	border: 1px solid rgba(50,50,50,0.5);
	box-shadow: 0 0 6px 3px grey;
	transition: background-color 0.5s;
}

#shot.blink{
	background-color: rgba(50,150,100,0.5);
}


#pic-resize > .btn{
    color: white;
    border: 0;

	opacity: 0;
    transition: opacity 0.3s;

    float: left;

    cursor: pointer;
    text-align: center;
    border-radius: 3px;
	padding: 0 5px;
    font-size: 25px;
    background-color: rgba(100, 100, 100, 0.4);
    height: calc(100% - 4px);
    margin: 2px;
}

#pic-resize:hover > .btn{
	opacity: 1;
}

#pic-resize > #pic-shot{
	float: right;
    font-size: 19px;
}


#pic-tag{
	opacity: 0;
    transition: opacity 0.3s;
}

#pic-resize:hover > #pic-tag, #pic-tag:focus{
	opacity: 1;
}

#pic-tag{
    /* position: absolute; */
    flex-grow: 1;
    color: white;
    border: 0;
    top: 0;
    bottom: 0;
    padding: 2px 6px;
    left: 0;
    right: 29px;
    width: calc(100% - 30px);
    width: 100%;
    background: rgba(49, 49, 49, 0.5);
    height: auto;
    margin: 0;
    cursor: n-resize;
    border-radius: 0;
}

#pic-taga{
	position: absolute;
	height: 40px;
	width: 120px;
	border-radius: 4px 0 0 0;
	background: rgba(80, 80, 80, 0.6) url('logo48.png') no-repeat center right;
	background-size: contain;
	right: 0;
	border: 0;
    color: white;
    padding-right: 34px;
    bottom: -34px;
    border-radius: 0 0 0 2px;
}

#pic-resize{
    position: absolute;
    height: 30px;
    cursor: n-resize;
    /* bottom: -1px; */
    right: 0;
    left: 0;
    z-index: 12;
    display: flex;
    margin-top: -30px;
    transition: opacity 0.3s;
    background-color: rgba(70, 70, 70, 0.5);
    opacity: 0;
}

#pic-resize:hover, #pic-resize.focus{
    opacity: 1;
}

#pic-resize > button{
	
margin: 0;
	
border-radius: 0;
	
opacity: 0.3;
}

#pic-trash{
	position: absolute;
	display: none;
	right: 5px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	color: white;
	background-color: rgba(222, 14, 14, 0.78);
    text-align: center;
    font-size: 21px;
    bottom: -34px;
    right: 3px;
}

.carousel{
	position: relative;
	overflow: hidden;
	word-wrap: normal;
	text-align: left;
	margin-left: 0;
	height: 200px;
	white-space: nowrap;
	overflow-wrap: normal;
	background: rgba(0, 0, 0, 0.13);
	background-color: rgba(82, 82, 82, 0.9);
	overflow-x: hidden;
	/* transition: margin-left 1s, height 0.5s; */
	-webkit-overflow-scrolling: touch;
}

.draggable{
	opacity: 0 !important;
}

.carousel-tag{
	position: fixed;
	z-index: 9;
	border-radius: 0 0 7px 0;
	background-color: rgba(37, 37, 37, 0.7);
	background-color: transparent;
	margin: 0;
	padding: 4px 6px;
	border: 0;
	width: 120px;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 0 3px rgb(0, 0, 0);
}

.thumb{
	display: inline-block;
	position: relative;
	height: 100%;
	cursor: pointer;
	vertical-align: top;
	margin: 0 1px 0 0;
	opacity: 1;
	min-width: 18px;
	background-size: cover;
	transition: opacity 0.5s;
}

.thumb > video{
	height: 100%;
}

.uploading{
    animation: opacity 0.3s ease infinite;
}

.carousel > *.focus{
    outline: 1px dashed #4b53b1;
}

.thumb > img{/* min-height: 100%; */margin: 0;}

.thumb > .n{
	position: absolute;
	font-size: 48px;
	top: 2px;
	bottom: 0;
	margin: 0 auto;
	padding: 0;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	left: 0;
	right: 0;
}

.thumb > article{
	top: 0;
	position: absolute;
	opacity: 0;
	margin: 0;
	padding: 0 14px 5px 14px;
	transition: opacity 0.4s ease, color 0.4s ease, padding 0.4s ease;
	color: rgba(255, 255, 255, 0);
	font-weight: 500;
	font-family: cursive;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	line-height: 18px;
	font-size: 14px;
	overflow: visible;
	white-space: normal;
}


.thumb:hover > article{
	opacity: 1;
	padding-top: 10px;
	color: white;
}

.thumb.ggif{
	background-size: contain;
	background-position: top;
}

.thumb > iframe{
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-cover{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.07);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.item-user{
	border-radius: 100%;
	box-shadow: 0 0 4px rgba(60, 60, 60, 0.76) inset;
	background-image: url('/design/user.png');
}

.thumb.drop{
	opacity: 0.3;
}

.thumb.drag{
	position: absolute;
	z-index: 195;
	opacity: 1;
}

.thumb:hover{
	opacity: 1;
}

.resizer{
	height: 6px;
	margin: 1px;
	background-color: rgb(129, 144, 213);
	cursor: n-resize;
}

.green{
	background-color: rgba(0, 138, 0, 0.8) !important;
}


#pix8-header{
	width: 100%;
	background-color: rgba(8, 8, 8, 0.88);
	opacity: 0.9;
	height: 30px;
	display: flex;
}

#pic8-title{
	display: inline-block;
	width: calc(100% - 206px);
	height: 100%;
	/* -webkit-app-region: drag; */
	flex-grow: 1;
}


#pix8-header > button{
	height: 100%;
	margin: 0;
	border-radius: 0;
	background: rgba(158, 158, 158, 0.2);
	vertical-align: top;
	color: white;
	font-size: 17px;
	margin-right: 1px;
	width: 50px;
	display: table-cell;
	border: 0;
}

#mainCarousel > .carousel-tag{
    left: 16px;
}

#pix8list-toggle, #pix8list-infinite, #pix8list-mute, #pix8-openLinks{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 20px;
    width: 21px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    z-index: 11;
}

#pix8list-infinite{
    left: 0;
}

#pix8list-mute{
    left: 40px;
    display: none;
}

#pix8-openLinks{
    left: 40px;
}

#pix8-title{
    height: 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #cccccc;
    margin-left: 63px;
    padding: 2px;
    border: 0;
    width: calc(100% - 65px);
}

#pix8list{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    width: 100%;
    top: 30px;
    bottom: 0;
    z-index: 10;
}

#pix8list-filters{
    margin-left: 60px;
    color: white;
}

#pix8list-filters > .catalog-filter{
    display: inline-block;
    margin: 1px 3px;
    cursor: pointer;
}

#pix8list-filters > .catalog-filter.active{
    text-decoration: underline;
    text-transform: uppercase;
}


#pix8list-search{
	display: block;
    height: calc(100% - 26px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2px;
    margin: 0;
    color: white;
    /* white-space: nowrap; */
}

#pix8list_words, #pix8list_sites{
	display: inline-block;
    height: calc(100% - 24px);
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2px;
    margin: 0;
    color: white;
    /* white-space: nowrap; */
}

#pix8list a{
  color: white;
  display: block;
}



#pix8list_sites > a:hover, #pix8list_words > a:hover{
  text-decoration: underline;
}


#pix8list_words > a{
  display: inline-block;
  padding: 2px 6px;
}


#pix8list_sites > a{
  white-space: nowrap;
  display: block;
  padding: 2px 6px;
}
