#pic{
    background-color: transparent;
    max-height: 100vh;
}

#pix8-title{
    n-webkit-user-select: none;
    n-webkit-app-region: drag;
}

#pic-tag{
    /* cursor: text; */
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}